<%
  values = if @resource.const_defined?(attribute.upcase)
             @resource::const_get(attribute.upcase)
           else
             @resource.send(attribute)
           end
%>

<li id="<%= attribute %>">
  <%= form.label attribute, label_text %>
  <%= form.select attribute, values, options.merge!(:include_blank => false) %>
</li>
